ai-powered-recruitement-pipeline/AI-Powered Recruitment Pipeline.json
{
  "name": "AI-Powered Recruitment Pipeline (Gemini v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-application",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "94035ccb-61fd-4264-9bfa-f294e28397e4",
      "name": "New Application Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-976, 208],
      "webhookId": "5ba05d5f-c45b-4578-b0a9-6b64a8907415"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a1000000-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a1000000-0000-0000-0000-000000000003",
              "leftValue": "={{ $json.body.role }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a1000000-0000-0000-0000-000000000004",
              "leftValue": "={{ $json.body.cv_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "737f03e8-a534-48d0-9c90-f2ce87888266",
      "name": "Validate Application",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-768, 208]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Missing required fields\"\n}",
        "options": {}
      },
      "id": "d43a23e5-844c-4fd2-b0c7-62246ed99408",
      "name": "Invalid Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-576, 400]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-flash-lite-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a recruiter AI. Evaluate this candidate.\n\nROLE: {{ $('New Application Webhook').item.json.body.role }}\n\nCV:\n<<<CV>>>\n{{ $('New Application Webhook').item.json.body.cv_text }}\n<<<END>>>\n\nReturn ONLY JSON (no markdown, no backticks):\n{\n  \"score\": number,\n  \"recommendation\": \"SHORTLIST\" | \"REJECT\",\n  \"strengths\": [],\n  \"gaps\": [],\n  \"summary\": \"\"\n}"
            }
          ]
        },
        "simplify": true,
        "jsonOutput": true,
        "options": {}
      },
      "id": "cf677ce8-72de-4153-90fe-147c9fd42b00",
      "name": "AI CV Screener",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [-576, 112]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\n\n// Grab the model text/object from whichever shape the Gemini node emitted\nlet raw = j.content?.parts?.[0]?.text\n  ?? j.candidates?.[0]?.content?.parts?.[0]?.text\n  ?? j.content\n  ?? j.text\n  ?? j.message?.content\n  ?? '';\n\nlet ai;\nif (typeof raw === 'object' && raw !== null && !Array.isArray(raw)) {\n  // jsonOutput mode may return an already-parsed object\n  ai = raw.parts?.[0]?.text ? null : raw;\n}\n\nif (!ai) {\n  if (typeof raw !== 'string') raw = JSON.stringify(raw);\n  const cleaned = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n  try {\n    ai = JSON.parse(cleaned);\n  } catch (e) {\n    throw new Error('Invalid AI JSON: ' + cleaned);\n  }\n}\n\nif (!ai.recommendation) {\n  throw new Error('AI response missing recommendation field: ' + JSON.stringify(ai));\n}\n\nreturn [{ json: { ...ai, candidate: $('New Application Webhook').first().json.body } }];"
      },
      "id": "2c1e6373-5f87-48f4-bbd4-abfb4111d1b5",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-304, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.recommendation }}",
              "rightValue": "SHORTLIST",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d263786c-20a2-4753-9931-66f3fa9438a9",
      "name": "Shortlist Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-128, 112]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{ $now.plus(2, 'days').set({ hour: 10, minute: 0 }).toISO() }}",
        "end": "={{ $now.plus(2, 'days').set({ hour: 11, minute: 0 }).toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.candidate.email }}"
          ],
          "description": "=Score: {{ $json.score }}\n\n{{ $json.summary }}",
          "summary": "=Interview: {{ $json.candidate.name }}"
        }
      },
      "id": "c0c59fdb-fb7e-4390-9943-083153ae353e",
      "name": "Schedule Interview",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [80, -48],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YLCP4hRm2JbudU6C",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.candidate.email }}",
        "subject": "=Interview Invitation - {{ $json.candidate.role }}",
        "message": "=<p>Hi {{ $json.candidate.name }},</p><p>Great news - you have been shortlisted for the <b>{{ $json.candidate.role }}</b> position. Our team will be in touch with interview details shortly.</p><p>Best regards,<br/>Recruitment Team</p>",
        "options": {}
      },
      "id": "83a4eb72-3b5e-4413-b49a-d569dd681917",
      "name": "Send Interview Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [288, 128],
      "webhookId": "3f1168a7-1b68-41af-ab72-41ea2c60ac8b",
      "credentials": {
        "gmailOAuth2": {
          "id": "7qQqe6W4d6U1U0MN",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appMrdwQArZqCd6gw/shr9nxWXiB72z8OM5",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "tbl8qTHh7Ah8tHsDX",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appMrdwQArZqCd6gw/tbl8qTHh7Ah8tHsDX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.candidate.name }}",
            "Email": "={{ $json.candidate.email }}",
            "Role": "={{ $json.candidate.role }}",
            "Score": "={{ $json.score }}",
            "Status": "Shortlisted"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Role", "displayName": "Role", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Score", "displayName": "Score", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "number", "readOnly": false, "removed": false },
            { "id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d067617f-af45-4259-b176-f23aa2974622",
      "name": "Save Shortlisted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [432, -48],
      "credentials": {
        "airtableTokenApi": {
          "id": "BAK2p9y6t84vdbyW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "=✅ *Shortlisted Candidate*\n\nName: {{ $json.candidate.name }}\nRole: {{ $json.candidate.role }}\nScore: {{ $json.score }}",
        "otherOptions": {}
      },
      "id": "12578808-2566-48de-a4ef-370f19389764",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [656, 144],
      "webhookId": "db38a091-07a3-416f-a50d-1cd293da9a42",
      "credentials": {
        "slackOAuth2Api": {
          "id": "CHPHW2z9OcJmBmjg",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.candidate.email }}",
        "subject": "Application Update",
        "message": "=<p>Dear {{ $json.candidate.name }},</p><p>Thank you for applying for the <b>{{ $json.candidate.role }}</b> position. After careful review, we will not be moving forward with your application at this time.</p><p>We wish you the best in your job search.</p><p>Regards,<br/>Recruitment Team</p>",
        "options": {}
      },
      "id": "92195695-0885-4229-a78f-2ee08121a30d",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [32, 304],
      "webhookId": "bea3cc5c-a8ea-4763-81c9-ac8c62ee7762",
      "credentials": {
        "gmailOAuth2": {
          "id": "7qQqe6W4d6U1U0MN",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appMrdwQArZqCd6gw/shr9nxWXiB72z8OM5",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "tbl8qTHh7Ah8tHsDX",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appMrdwQArZqCd6gw/tbl8qTHh7Ah8tHsDX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.candidate.name }}",
            "Email": "={{ $json.candidate.email }}",
            "Role": "={{ $json.candidate.role }}",
            "Score": "={{ $json.score }}",
            "Status": "Rejected"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Role", "displayName": "Role", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Score", "displayName": "Score", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "number", "readOnly": false, "removed": false },
            { "id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ee42e71f-8aea-46b8-9bab-32f09c30017d",
      "name": "Save Rejected",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [240, 304],
      "credentials": {
        "airtableTokenApi": {
          "id": "BAK2p9y6t84vdbyW",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Application processed\",\n  \"recommendation\": \"{{ $('Parse AI Response').item.json.recommendation }}\",\n  \"score\": {{ $('Parse AI Response').item.json.score }}\n}",
        "options": {}
      },
      "id": "c098ed42-71c1-4bc3-a56a-59bda12c4c66",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [832, 208]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Application processed\",\n  \"recommendation\": \"REJECT\",\n  \"score\": {{ $('Parse AI Response').item.json.score }}\n}",
        "options": {}
      },
      "id": "c098ed42-71c1-4bc3-a56a-59bda12c4c99",
      "name": "Webhook Response Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [432, 304]
    }
  ],
  "pinData": {},
  "connections": {
    "New Application Webhook": {
      "main": [
        [
          { "node": "Validate Application", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validate Application": {
      "main": [
        [
          { "node": "AI CV Screener", "type": "main", "index": 0 }
        ],
        [
          { "node": "Invalid Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "AI CV Screener": {
      "main": [
        [
          { "node": "Parse AI Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          { "node": "Shortlist Decision", "type": "main", "index": 0 }
        ]
      ]
    },
    "Shortlist Decision": {
      "main": [
        [
          { "node": "Schedule Interview", "type": "main", "index": 0 },
          { "node": "Send Interview Email", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Rejection Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Schedule Interview": {
      "main": [
        [
          { "node": "Save Shortlisted", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Interview Email": {
      "main": [
        [
          { "node": "Notify Slack", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          { "node": "Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          { "node": "Save Rejected", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Rejected": {
      "main": [
        [
          { "node": "Webhook Response Rejected", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}